:root {
    --text-color: #333;
    --link-color: #fff;
    --hover: #C283F3;
    --active: #9D5CD0;
    --dark-active: #7943A4;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'), url('/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('/fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-light-webfont.woff2') format('woff2'), url('/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'), url('/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans-semibold-webfont.woff2') format('woff2'), url('/fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1, ul, p {
    margin: 0;
    padding: 0;
}

ul, a, div {
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

input {
    outline: none;
}

body {
    background: #e5e5e5;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1920px;
}

/* Header */

.header__menu-upper {
    display: flex;
    align-items: center;
    background-color: #000;
    padding: 30px 0 27px 160px;
}

.header__logo {
    display: inline-block;
    margin-right: 180px;
}

.header__logo_hover {
    transition: fill .1s ease-in-out;
}

.header__logo:hover .header__logo_hover {
    fill: red;
}

.nav {
    padding-bottom: 5px;
}

.nav__upper-list, .menu-bottom__list {
    display: flex;
    align-items: center;
}

.menu-bottom__list {
    margin: 0;
    padding: 25px 0 26px 0;
}

.nav__link {
    font-size: 18px;
    color: var(--link-color);
    font-weight: 600;
    line-height: 1;
    transition: color .1s ease-in;
}

.nav__link:hover {
    color: var(--hover);
}

.nav__link:focus {
    border: 2px solid #7943A4;
}

.nav__link:active {
    color: var(--active);
    border: none;
}

.menu-bottom__item {
    font-size: 18px;
    font-weight: 400;
    color: var(--link-color);
}

.menu-bottom__submenu {
    background: #273037;
    transform: scaleY(0);
    transform-origin: 0 0;
    opacity: 0;
    transition: .5s ease-in-out;
    position: absolute;
    top: 100%;
}

.menu-bottom__submenu a {
    display: block;
    color: var(--link-color);
    text-align: left;
    padding: 12px 15px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.menu-bottom__submenu a:hover {
    background-color: rgba(255, 255, 255, .5);
}

.menu-bottom__submenu li > a:last-child {
    border-bottom: none;
}

.menu-bottom__item:hover {
    color: var(--active);
    cursor: pointer;
}

.menu-bottom__item:hover>svg>.menu-bottom__icon {
    stroke: var(--active);
}

.menu-bottom__submenu_down {
    transform: scaleY(1);
    opacity: 1;
}

.menu-bottom__item:focus-within {
    outline: 2px solid var(--dark-active);
}

.menu-bottom__item:active {
    color: var(--dark-active);
    cursor: pointer;
}

.menu-bottom__item:active>svg>.menu-bottom__icon {
    stroke: var(--dark-active);
}

.nav__upper-item:not(:last-child) {
    margin-right: 62px;
}

.menu-bottom__item:not(:last-child) {
    margin-right: 95px;
}

.menu-bottom__item:nth-child(2) {
    margin-right: 98px;
}

.menu-bottom__icon_rotate {
    transform: rotate(180deg);
}

.entrance {
    margin-right: 8px;
}

.header__entrance {
    display: flex;
    align-items: center;
    margin: auto 141px auto auto;
}

.entrance-link {
    font-size: 18px;
    color: var(--link-color);
    font-weight: 400;
    transition: color .1s ease-in;
}

.entrance__logo {
    transition: fill .1s ease-in;
}

.header__entrance:focus-within {
    border: 2px solid #7943A4;
}

.header__entrance:hover .entrance-link {
    color: var(--hover);
}

.header__entrance:hover>.entrance>.entrance__logo {
    fill: var(--hover);
}

.header__entrance:active>.entrance>.entrance__logo {
    fill: var(--active);
}

.header__entrance:active .entrance-link {
    color: var(--active);
}

.header__container-bottom {
    padding-left: 158px;
    display: flex;
    justify-content: space-between;
}

.header__menu-bottom {
    position: relative;
    z-index: 5;
    background-color: rgba(0, 0, 0, .4);
    margin-right: 0;
}

.header__search-block {
    margin-right: 143px;
}

.header__search-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .85);
    padding: 0 47px 3px 0;
}

.header__search-block:hover .header__search-input {
    border-bottom: 1px solid var(--hover);
    cursor: pointer;
}

.header__search-block:hover .search__rect, .header__search-block:hover .search__path {
    fill: var(--hover);
}

.header__search-block:focus-within {
    outline: 2px solid #7943A4;
}

.header__search-input_click {
    border-color: var(--link-color);
}

.header__search-input::placeholder {
    font-size: 18px;
    color: var(--link-color);
    font-weight: 400;
}

.simplebar-scrollbar::before {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 240, 8, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.header__search-block {
    display: flex;
    align-items: center;
}

.search {
    margin-right: 8px;
}

/* Hero */

.hero__container {
    margin-top: -71px;
    background: url('../img/hero-back.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    padding: 143px 0 122px 155px;
    animation: anim 1s alternate ease-in-out infinite;
}

.hero__header, .hero__text {
    font-weight: 700;
    color: var(--link-color);
    max-width: 597px;
}

.hero__header {
    font-size: 72px;
}

.hero__text {
    font-size: 18px;
    margin: 20px 0 0 5px;
    line-height: 1.7;
}

.hero__link {
    font-size: 18px;
    font-weight: 700;
    color: var(--link-color);
    background: #9d5cd0;
    border: 1px solid #9d5cd0;
    border-radius: 100px;
    padding: 24px 35px;
    display: inline-block;
    margin: 91px 0 0 5px;
    transition: transform .2s ease-in-out;
}

.hero__link:hover {
    color: rgb(6, 25, 43);
    background: rgba(157, 92, 208, .5);
    transform: translateY(-10%);
}

@keyframes anim {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 103%;
    }
}